<!-- Image and text -->
<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://static.thenounproject.com/png/100531-200.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Cocktails & Dreams
  </a>
  <form class="form-inline">
    <button class="btn btn-lg btn-outline-secondary mr-3" type="button"><%= link_to "Add a Cocktail", new_cocktail_path %></button>
    <button class="btn btn-lg btn-outline-secondary" type="button"><%= link_to "View Cocktails", "", class: "btn-banner" %></button>
  </form>
</nav>

<div class="banner">
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Liamafc1
  </div>
</div>
</div>
